/.idea
.idea
/builds
/bin
bin
bin/
dist/
dist
*.log
config.yaml
config.yml
config/config.yaml
config/*.yaml
config/*.yml
coverage/*
todo.txt
gorecon
*.txt
gorecon-command-log*.json
config/testconfig.yaml
gorecon-command-log.json