COMPANY: "TODO"
CREATOR: "TODO"
WORKSPACE: "TODO"
OUTPUT: "/home/YOUR-USERNAME/work"
SUBFINDER_KEYS_FILE: "/home/YOURUSERNAME/.config/subfinder/provider-config.yaml"
DOMAIN: |-
  todo.foo
  www.todo.foo
MODULES: |-
  recon/companies-contacts/censys_email_address
  recon/contacts-credentials/hibp_breach
  recon/contacts-credentials/hibp_paste
  recon/contacts-profiles/fullcontact
  recon/companies-multi/whois_miner
  recon/domains-contacts/whois_pocs
  recon/domains-contacts/hunter_io
  recon/domains-hosts/hackertarget
  recon/domains-hosts/bing_domain_web
  recon/domains-hosts/brute_hosts
  recon/domains-hosts/certificate_transparency
  recon/domains-hosts/google_site_web
  recon/domains-hosts/mx_spf_ip
  recon/domains-hosts/netcraft
  recon/domains-hosts/shodan_hostname
  recon/domains-hosts/ssl_san
  recon/domains-vulnerabilities/xssed
  recon/hosts-hosts/resolve
  recon/hosts-hosts/reverse_resolve
  recon/hosts-hosts/ssltools
  recon/hosts-ports/shodan_ip
  recon/netblocks-hosts/reverse_resolve
  reporting/csv
  reporting/html
NETBLOCK: |-
  XXX.XX.XX.X/24
OUT_OF_SCOPE: |-
  XXX.XX.XX.X/32
  outofscope.foo.bar.todo.blah
